<!-- Footer -->
		<section id="footer" class="wrapper style3">
			<div class="title">Patrons</div>

			<div class="container">
				<header class="style1 sponsor">
					<div class="row sponsor">
						
						<div class="off-0-small col-12-small col-3">
							<div class="nt-spon-title">Platinum Sponsor</div>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.iiitb.ac.in/machine-intelligence-and-robotics-center" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/minro-r2.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.tcs.com/research-innovation" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/TCR-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>
						<div class="col-12-small col-4">
							<div class="nt-spon-title">Silver Sponsors</div>
							<div class="row">
								<div class="col-9">
									<span class="valign-img"></span><a href="https://amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
								<div class="col-3 nopad">
									<span class="valign-img"></span><a href="http://ramkumarfoundation.org/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/prkmf204-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
								<!--<div class="col-6 nopad">
									<span class="valign-img"></span><a href="http://huawei.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/huawei-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>-->
							</div>
						</div>
						<div class="col-12-small col-2">
							<div class="nt-spon-title">Bronze Sponsors</div>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<a href="https://www.zentreelabs.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/zentreelabs-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>
						<div class="col-12-small col-3">
							<div class="nt-spon-title">Technical Partner</div>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<a href="https://tsdsi.in/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/tsdsi-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>
						
					</div>

				</header>

				<div class="row" style="text-align: center;">
					<div class="col-12">
						<div class="worldflagcounter">Visitor</div>
						<a href="https://worldflagcounter.com/details/hGl" target="_blank"><img class="img-fluid" src="https://worldflagcounter.com/hGl/?{{ site.time | date: "%s" }}" alt="Flag Counter"></a>
					</div>
				</div>
				
				<ul class="copyright">
					<li>Last updated: {{ site.time | date: "%A, %e-%b-%Y" }}</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					<li>Logo: <a href="https://www.squarespace.com/logo">Squarespace</a></li>
				</ul>

			</div>
		</section>
<script src="{{ site.baseurl }}/assets/js/countdown.js"></script>
