<section id="header" class="wrapper">
		
			<!-- Logo -->
			<div id="logo">	
				
				<!--
				<div>
				<a href=# target="_blank"><img src="{{ site.baseurl }}/images/head_img/aiml_white.png" class="img-fluid" width="500"></a>
				</div> 
				-->
				<img src="{{ site.baseurl }}/images/aiml_white.png" class="img-fluid" style="max-height: 150px;">
				<h1><a href="{{ site.baseurl }}/index">First International Conference on AI-ML Systems</a></h1>
				<h4>Hybrid, Bangalore, India</h4>
				<h4>21-24 October 2021</h4>
				<br>
				<h4>An Initiative of the <a href="http://comsnets-association.org/" target="_blank">COMSNETS Association</a></h4>
				<br>
				<div class="row incoop-row">
					<div class="off-3 off-0-medium col-6 col-12-medium">
						<div>In-Cooperation With</div>
						<img src="{{ site.baseurl }}/images/head_img/incoop-t.png" class="img-fluid" usemap="#incoopmap">
						<map name="incoopmap">
							<area shape="rect" coords="47,0,255,64" alt="ACM" href="https://www.acm.org/" target="_blank">
							<area shape="rect" coords="16,66,78,199" alt="SIGAI" href="https://sigai.acm.org/" target="_blank">
							<area shape="rect" coords="79,66,152,199" alt="SIGKDD" href="https://www.kdd.org/" target="_blank">
							<area shape="rect" coords="160,66,292,199" alt="SIGMOD" href="https://sigmod.org/" target="_blank">
							<area shape="rect" coords="290,29,447,87" alt="MEITY" href="http://meity.gov.in/" target="_blank">
						</map>
					</div>
				</div>
				<div class="row">
					<div class="off-4h off-3-medium col-1 col-2-medium">
						<a href="https://www.facebook.com/aimlsystems" target="_blank" class="fa fa-facebook"></a>
					</div><div class="col-1 col-2-medium">
						<a href="https://twitter.com/aimlsystems" target="_blank" class="fa fa-twitter"></a>
					</div><div class="col-1 col-2-medium">
						<a href="https://www.linkedin.com/company/aimlsystems/" target="_blank" class="fa fa-linkedin"></a>
					</div>
				</div>
				<div class=row>
					<div class="off-3 off-3-medium col-6 col-6-medium showcountdowncls">
						<h4>AI-ML Systems 2021 starts in</h4>
						<h2 id="showcountdown"></h2>
						<!-- <div data-type="countdown" data-id="2611670" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%">
							<a href="//www.tickcounter.com/countdown/2611670/aiml-systems-2021-starts-in" title="AIML Systems 2021 starts in">AIML Systems 2021 starts in</a>
							<a href="//www.tickcounter.com/" title="Countdown">Countdown</a>
						</div>
						<script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script> -->
						<!-- <iframe src="https://free.timeanddate.com/countdown/i7va4szr/n1884/cf12/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs100/szw320/szh135/iso2021-10-21T00:00:00" allowtransparency="true" frameborder="0" height="30" style="width: 100%;"></iframe> -->
						<!-- <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-pbpw" class="countdown-timer" data-timezone="Asia/Kolkata" data-date="2021-10-21 08:00" data-digitscolor="#ffffff" data-unitscolor="#ffffff">AI-ML Systems 2021 starts in</a> -->
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-3 col-12-medium"></div>
					<div class="col-6 col-12-medium">
						<div class="row">
							<div class="col-12">
								<small>In-Cooperation With</small><br>
							</div>
							<div class="col-3 col-12-medium">
								<span class="valign-img"></span>
								<a href="http://meity.gov.in/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/meity.png" class="img-fluid"></a>
							</div>
							<div class="col-4 col-12-medium">
								<span class="valign-img"></span>
								<a href="https://www.acm.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/acm.gif" class="img-fluid"></a>
							</div>
							<div class="col-2 col-5-medium">
								<span class="valign-img"></span>
								<a href="https://www.kdd.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/sigkdd.png" class="img-fluid"></a>
							</div>
							<div class="col-3 col-7-medium">
								<span class="valign-img"></span>
								<a href="https://sigmod.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/sigmod.png" class="img-fluid"></a>
							</div>
						</div>
					</div>
				</div> -->
			<a id="maintitle1"></a>
			</div>
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current" style="white-space: nowrap;"><a href="{{ site.baseurl }}/">Home</a></li>

					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Committees<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/committeeOrg">Organizing Committee</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/committeePro">Program Committee Research Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callIndustry#PC">Program Committee Industry Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/volunteers">Volunteers</a></li>
						</ul>
					</li>

					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Call for Papers<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callResearch">Call For Research Papers</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callIndustry">Call For Industry Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callDemo">Call For Demos</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callSymposium">Call For Doctoral Symposium</a></li>
						</ul>
					</li>
					
					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Main Conference<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/keynotes">Keynotes</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/panel">Panel Discussions</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/industryLiaison">Industry Liaison</a></li>
						</ul>
					</li>
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/awards">Awards</a></li>
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/registration">Registration</a></li>
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/participation" class="text-attention">Participation</a></li>
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/schedule" class="text-attention">Schedule</a></li>

					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Venue<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/venue">Venue</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/visitingBangalore">Visiting Bangalore</a></li>
						</ul>
					</li>

					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/sponsorship">Sponsorship</a></li>
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/contact">Contacts</a></li>
					<li style="white-space: nowrap;"><a href="https://comsnets.org/" target="blank">COMSNETS</a></li>

				</ul>
			</nav>

		</section>
