<div id="20221014" class="tabcontent">
  <h1 class="text-center sc-header sc-color-3 text-underline">Day 2 Main Conference</h1>
  <h1 class="text-center sc-header sc-color-3 text-underline">Friday, 14 October 2022</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
 <!--  <h1 class="text-center sc-header sc-color-3">To be updated</h1> -->
  <table class="conf-schedule">
    <tbody>
      <tr>
        <td colspan="4" style="background-color:#80A3F1" class="sc-bgcolor-even">
        <i><h2 style="color: #6C0BA5;" >AIMLSystems Keynote Talk # 3<br/>Sunita Sarawagi, IIT Bombay, India<br/>
        10:00 AM – 11:00 AM </h2></i>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Tea/Coffee Break<br/>11:00 AM &ndash; 11:30 AM</h1></td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Paper Sessions<br/>11:00 AM &ndash; 1:00 PM</h1></td>
      </tr>
      <tr>
        <td colspan="2" style="background-color:#dae8fc"><h1>Paper Session T2-1<br>Venue: SIGMA Hall</h1></td>
        <td colspan="2" style="background-color:#ffcb2f"><h1>Doctoral Symposium<br>Venue: INDIAN AFFAIRS</h1></td>
      </tr>
      <tr>
        <td style="background-color:#E9E9E9" colspan="4"><h1>Lunch Break <br/>1:30 PM &ndash; 2:30 PM</h1></td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Paper Sessions<br/>2:00 PM &ndash; 4:00 PM</h1></td>
      </tr>
      <tr>
        <td colspan="2" style="background-color:#dae8fc"><h1>Paper Session T2-2<br>Venue: SIGMA Hall</h1></td>
        <td colspan="2" style="background-color:#ffcb2f"><h1>Doctoral Symposium<br>Venue: INDIAN AFFAIRS</h1></td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Tea/Coffee Break<br/>4:30 PM &ndash; 5:00 PM</h1></td>
      </tr> 
      <tr>
        <td colspan="4" style="background-color:#80A3F1" class="sc-bgcolor-even">
        <h2 style="color: #08127B;" >Keynote Talk # 4<br/>Partha Pratim Talukdar<br/> IISc Bangalore & Google Research, India
        <br/>5:00 PM – 6:00 PM<br/>SIGMA HALL</h2>
        </td>
      </tr>
       <tr>
        <td colspan="4" style="background-color:#80A3F1" class="sc-bgcolor-even">
        <h2 style="color: #08127B;" >Networking Break</h2>
        </td>
      </tr>
       <tr>
        <td colspan="4" style="background-color:#E9E9E9" class="sc-bgcolor-even">
        <h2 style="color: #08127B;" >Keynote Talk # 5<br/>Thorsten Joachims, Cornell University, USA
        <br/>5:00 PM – 6:00 PM<br/>SIGMA HALL</h2>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#E9E9E9" class="sc-bgcolor-even">
        <h2 style="color: #08127B;" >AIMLSystems’22 Award Ceremony & Banquet</h2><h3 style="color: #08127B;">7:40 PM – 8:00 PM<br/>Best Papers; Best Posters; Best Demos</h3>
        <br/><h2 style="color: #08127B;" >Conference Banquet<br/>COCKTAILS and DINNER</h2><h3 style="color: #08127B;">8:00 PM – 11 PM IST<br/>Pool Side & INDIAN AFFAIRS, Chancery Pavilion Hotel, Bangalore</h3>
        </td>
      </tr>    
    </tbody>
  </table>
  
</div>
