<div id="20211023" class="tabcontent">
  <h1 class="text-center sc-header sc-color-3 text-underline">Saturday, 23 October 2021</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>

  <table class="conf-schedule">
    <tbody>
      <tr>
        <td class="text-em sc-color-1 sc-bgcolor-1">
          <h1>AIMLSystems Keynote Talk # 5<br />Johannes Gehrke<br />Microsoft Research in Redmond, USA<br />(10 AM &ndash; 11 AM)</h1>
          <h1>Industry Insights Keynote # 3<br />Ananth Krishnan, Tata Consultancy Services, India<br />11:00 AM &ndash; 11:45 AM</h1>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <h1>Paper Session (11:45 AM &ndash; 1:00 PM)<br />
            <a href="{{ site.baseurl }}/technicalProgram#T1-5" >T1-5 : Systems for ML Opt</a></h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Lunch Break (1:00 PM &ndash; 2:00 PM)</h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1><a href="{{ site.baseurl }}/industryLiaison">Industry Liaison</a></h1>
          <h1>2:00 PM &ndash; 5:00 PM</h1>
        </td>
      </tr>
      <tr>
        <td class="sc-bgcolor-1">
          <h1 class="sc-color-3">Panel Discussion III (5:00 PM &ndash; 6:15 PM)</h1>
          <h1><a href="{{ site.baseurl }}/panel#panel-3">Topic: AI in 2030: The Age of Autonomous Systems</a></h1>
          <h1 class="sc-color-3">Moderator: Vijay Gabale, Infilect Technologies, India</h1>
          <h1 class="sc-color-3">Panelists: Debdoot Mukherjee (ShareChat), Saad Nasser (Ati Motors), Ganesh Mani (CMU), Dhivakar Kanagaraj (TartanSense)</h1>
        </td>
      </tr>
      <tr>
        <td class="sc-bgcolor-odd sc-color-3">
          <h1><span style="text-decoration: underline;">Industry Insights Keynote # 4</span><br />Rajeev Rastogi, Amazon, India<br />6:15 PM &ndash; 7:00 PM</h1>
          <h1><span style="text-decoration: underline;">Keynote Talk # 6</span><br />Sang Cha<br />Seoul National University, Korea<br />7:00 PM &ndash; 8:00 PM</h1>
        </td>
      </tr>
      <tr>
        <td class="sc-bgcolor-even">
          <h1>
            <span class="sc-color-3">Cocktails &amp; Dinner</span>
            <br />
            Venue: Sigma Foyer, Chancery Pavilion Hotel
            <br />
            8:00 PM &ndash; 11:00 PM
          </h1>
        </td>
      </tr>
    </tbody>
  </table>
</div>
