
<div id="20211024" class="tabcontent">
  <h1 class="text-center sc-header sc-color-3 text-underline">Sunday, 24 October 2021</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
  <h1 class="text-center sc-header sc-color-1">All tutorials will be held in virtual mode</h1>

  <table class="conf-schedule">
    <tbody>
      <tr>
        <td>
          <h1>ALMLSystems&rsquo;21 TUTORIALS (Virtual)</h1>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <h1>Tutorial # 1: 9:30 AM &ndash; 11:00 AM</h1>
          <h1>
            <a href="{{ site.baseurl }}/tutorials#t-1" >Tutorial 1: Machine Learning for Databases (Guoliang Li, Xuanhe Zhou, Lei Cao)</a>
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Break</h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Tutorial # 1: 11:30 AM &ndash; 1:00 PM</h1>
          <h1>
            <a href="{{ site.baseurl }}/tutorials#t-2" >Tutorial 2: Machine Assisted ML (Abir De)</a>
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Break</h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Tutorial # 2: 2:30 PM &ndash; 4:00 PM</h1>
          <h1>
            <a href="{{ site.baseurl }}/tutorials#t-3" >Tutorial 3: Compression of Deep Learning Models for NLP (Manish Gupta)</a>
          </h1>
        </td>
      </tr>
      <tr>
        <td class="sc-color-2">
          <h1>Conference Closure</h1>
        </td>
      </tr>
    </tbody>
  </table>
</div>
