
<div id="20221015" class="tabcontent">
   <h1 class="text-center sc-header sc-color-3 text-underline">Day 3 Main Conference</h1>
  <h1 class="text-center sc-header sc-color-3 text-underline">Saturday, 15 October 2022</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
 <!--  <h1 class="text-center sc-header sc-color-3">To be updated</h1> -->
  <!--<h1 class="text-center sc-header sc-color-1">All tutorials will be held in virtual mode</h1>-->
  
  <table class="conf-schedule">
    <tbody>
      <tr>
        <td colspan="4" style="background-color:#80A3F1" class="sc-bgcolor-even">
        <i><h2 style="color: #6C0BA5;" >AIMLSystems Keynote Talk # 6<br/>Nikko Strom, Amazon, USA<br/>
        10:00 AM – 11:00 AM </h2></i>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Tea/Coffee Break<br/>11:00 AM &ndash; 11:30 AM</h1></td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Paper Sessions<br/>11:30 AM &ndash; 1:00 PM</h1></td>
      </tr>
      <tr >
        <td colspan="2" rowspan="2" style="background-color:#dae8fc; vertical-align: middle"><h1>Paper Session T3-1<br>Venue: SIGMA Hall</h1></td>
        <td colspan="2" style="background-color:#ffcb2f"><h1>Industry Track #1<br>Venue: INDIAN AFFAIRS</h1></td>
      </tr>
      <tr>
       <td style="background-color:#ffcb2f"><h3><a href="{{ site.baseurl }}/industryInvitedTalks#industryinvited_1_2">Invited Talk #1</a><br>Dr. Ramesh Nallapati, Amazon<br>(11:30 AM - 12:10 PM)</h3></td>
       <td style="background-color:#ffcb2f"><h3><a href="{{ site.baseurl }}/industry_track#it-1" >Paper Sessions</a><br>Paper ID: 21 (12:10 PM - 12:35 PM)<br>Paper ID: 23 (12:35 PM - 1:00 PM)</h3></td>
      </tr>
      <tr>
        <td style="background-color:#E9E9E9" colspan="4"><h1>Lunch Break <br/>1:00 PM &ndash; 2:00 PM</h1></td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Paper Sessions<br/>2:00 PM &ndash; 4:30 PM</h1></td>
      </tr>
      <tr>
        <td colspan="2" rowspan="2" style="background-color:#dae8fc; vertical-align: middle"><h1>Paper Session T3-2<br>Venue: SIGMA Hall</h1></td>
        <td colspan="2" style="background-color:#ffcb2f"><h1>Industry Track #2<br>Venue: INDIAN AFFAIRS</h1></td>
      </tr>
      <tr>
        <td style="background-color:#ffcb2f; vertical-align: middle"><h3><a href="{{ site.baseurl }}/industryInvitedTalks#industryinvited_1_1">Invited Talk #2</a><br>Debdoot Mukherjee (Meesho)<br>(2:00 PM - 2:40 PM)</h3></td>
        <td style="background-color:#ffcb2f"><h3><a href="{{ site.baseurl }}/industry_track#it-1" >Paper Sessions</a> <br>Paper ID: 28 (2:40 PM - 3:05 PM)<br>Paper ID: 30 (3:05 PM - 3:30 PM)<br>Paper ID: 47 (3:30 PM - 3:55 PM)<br>Paper ID: 56 (3:55 PM - 4:20 PM)<br>Paper ID: 65 (4:20 PM - 4:45 PM)</h3></td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#FFFFFF"><h1>Tea/Coffee Break<br/>4:30 PM &ndash; 5:00 PM</h1></td>
      </tr> 
      <tr>
    <td colspan="4" style="background-color:#80A3F1" class="sc-bgcolor-even">
      <h1 style="color:#08127B"><span class="sc-color-3">Panel Discussion</span><br/>5:00 PM – 6:30 PM</h1><h1>Topic: Responsible AI<br/>SIGMA HALL</h1>
    </td>
  </tr>
<tr>
        <td colspan="4" style="background-color:#E9E9E9" class="sc-bgcolor-even">
        <h2 style="color: #08127B;" >Keynote Talk # 7<br/>Thorsten Joachims, Cornell University, USA
        <br/>6:30 PM – 7:30 PM<br/>SIGMA HALL</h2>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#E9E9E9" class="sc-bgcolor-even">
        <h2 style="color: #08127B;" >CLOSING REMARKS BY GENERAL CHAIRS AND TPC CHAIRS</h2> <h3>Conference Closure</h3> 

        </td>
      </tr>    
    </tbody>
  </table>
  
</div>
