<!-- Tab content -->
<div id="20221012" class="tabcontent">
    <h1 class="text-center sc-header sc-color-3 text-underline">Wednesday, 12 October 2022</h1>
    <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
<!-- 	<h1 class="text-center sc-header sc-color-3">To be updated</h1> -->
   
<table class="conf-schedule" style= "table-layout: fixed; width:100%">
<tbody>
  <tr>
    <td style="background-color:#FFFFFF"></td>
    <td colspan="3" style="background-color:#FFFFFF"><h1>Wednesday, 12 October 2022</h1></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>10:00 AM &ndash; 1.00 PM</h3></td>
    <td colspan="3" style="background-color:#EEE2FD"><h1><i>CONFERENCE TUTORIALS</i></h1></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>10:00 AM &ndash; 11:30 AM</h3></td>
    <td style="background-color:#CFE3FE"><h2>Tutorial #1</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t01">T01: Large-Scale Entity Extraction from Enterprise Data</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Rajeev Gupta (Microsoft), Ranganath Kondapally (Microsoft)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Sigma 1</h3></td>
    <td style="background-color:#FFD1D1"><h2>Tutorial #2</h2>
      <h2 style="font-size:20px"> <a href="{{ site.baseurl }}/accepted_tutorial_list#t02">T02: Advances in exploratory data analysis, visualisation and quality for data centric AI systems</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Hima Patel (IBM Research), Shanmukh Guttula (IBM Research), Ruhi Sharma Mittal (IBM Research), Naresh Manwani (IIIT Hyderabad), Laure Berti-Equille (IRD), Abhijit Manatkar (IIIT Hyderabad)</a></h2> -->
        <h3 style="color: #6E0212">Venue: Sigma 3</h3></td>
    <td style="background-color:#FFEE96"><h2>Tutorial #3</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t03">T03: Neuro-symbolic AI for Mental Healthcare</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Amit Sheth (University of South Carolina), Kaushik Roy (University of South Carolina), Manas Gaur (University of Maryland Baltimore County), Usha Lokala (University of South Carolina)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>11:30 AM &ndash; 12:00 PM</h3></td>
    <td colspan="3" style="background-color:#E9E9E9"><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>12:00 PM &ndash; 01:00 PM</h3></td>
    <td style="background-color:#CFE3FE"><h2>Tutorial #1</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t01">T01: Large-Scale Entity Extraction from Enterprise Data</a></h2>
      <!-- <h2  style="font-size:15px">Speakers:  Rajeev Gupta (Microsoft), Ranganath Kondapally (Microsoft)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Sigma 1</h3></td>
    <td style="background-color:#FFD1D1"><h2>Tutorial #2 </h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t02">T02: Advances in exploratory data analysis, visualisation and quality for data centric AI systems</a></h2>
      <!-- <h2  style="font-size:15px">Speakers:  Hima Patel (IBM Research), Shanmukh Guttula (IBM Research), Ruhi Sharma Mittal (IBM Research), Naresh Manwani (IIIT Hyderabad), Laure Berti-Equille (IRD), Abhijit Manatkar (IIIT Hyderabad)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Sigma 3</h3></td>
    <td style="background-color:#FFEE96"><h2>Tutorial #3 </h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t03"> T03: Neuro-symbolic AI for Mental Healthcare</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Amit Sheth (University of South Carolina), Kaushik Roy (University of South Carolina), Manas Gaur (University of Maryland Baltimore County), Usha Lokala (University of South Carolina)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>01:30 PM &ndash; 02:30 PM</h3></td>
    <td colspan="3" style="background-color:#E9E9E9"><h2 style="font-size:18px">Lunch Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>02:30 PM &ndash; 04:00 PM</h3></td>
    <td style="background-color:#CFE3FE"><h2>Tutorial #4</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t04">T04: Malware Analysis and Detection</a></h2>
      <!-- <h2  style="font-size:15px">Speakers:  Hemant Rathore (BITS Pilani Goa), Mohit Sewak (Microsoft)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Sigma 1</h3></td>
    <td style="background-color:#FFD1D1"><h2>Tutorial #5</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t05">T05: Identification of causal dependencies in multivariate time series</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Sujoy Roy Chowdhury (Ericsson), Serene Banerjee (Ericsson), Ranjani H.G (Ericsson), Chaitanya Kapoor (Ericsson)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Sigma 3</h3></td>
    <td style="background-color:#FFEE96"><h2>Tutorial #6</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t06">T06: TinyML Techniques for running Machine Learning models on Edge Devices</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Arijit Mukherjee (TCS Research), Arijit Ukil (TCS Research), Swarnava Dey (TCS Research), Gitesh Kulkarni (TCS Research)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>04:00 PM &ndash; 04:30 PM</h3></td>
    <td colspan="3" style="background-color:#E9E9E9"><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>04:30 PM &ndash; 05:00 PM</h3></td>
    <td style="background-color:#CFE3FE"><h2>Tutorial #4</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t04">T04: Malware Analysis and Detection</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Hemant Rathore (BITS Pilani Goa), Mohit Sewak (Microsoft)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Sigma 1</h3></td>
    <td style="background-color:#FFD1D1"><h2>Tutorial #5</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t05">T05: Identification of causal dependencies in multivariate time series</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Sujoy Roy Chowdhury (Ericsson), Serene Banerjee (Ericsson), Ranjani H.G (Ericsson), Chaitanya Kapoor (Ericsson)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Sigma 3</h3></td>
    <td style="background-color:#FFEE96"><h2>Tutorial #6</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/accepted_tutorial_list#t06">T06: TinyML Techniques for running Machine Learning models on Edge Devices</a></h2>
      <!-- <h2  style="font-size:15px">Speakers: Arijit Mukherjee (TCS Research), Arijit Ukil (TCS Research), Swarnava Dey (TCS Research), Gitesh Kulkarni (TCS Research)</a></h2> -->
      <h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>06:00 PM &ndash; 08:00 PM</h3></td>
    <td colspan="3" style="background-color:#E9E9E9;"><h1 style="color: #193EA9 ;">AIMLSystems 2022 All Hands Meeting</h1>
      <h3>Participants: All Organizing Committee Members, All Volunteers, All Sponsors, Event Managers, Hotel Staff</h3></td>
  </tr>
</tbody>
</table>
	
</div>
