<div id="20221014" class="tabcontent">
  <h1 class="text-center sc-header sc-color-3 text-underline">Day 2 Main Conference</h1>
  <h1 class="text-center sc-header sc-color-3 text-underline">Friday, 14 October 2022</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
 <!--  <h1 class="text-center sc-header sc-color-3">To be updated</h1> -->

 <table class="conf-schedule" style= "table-layout: fixed; width:100%">
<tbody>
  <tr>
    <td style="background-color:#FFFFFF"></td>
    <td colspan="2" style="background-color:#FFFFFF"><h1>Friday, 14 October 2022</h1></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>10:00 AM &ndash; 11:00 AM</h3></td>
    <td colspan="2" style="background-color:#A9B0FC"><h2>Keynote Talk #3: Natural Language Interfaces to Database Systems: the deep learning way and the challenges therein</h2>
    <h2 style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/keynote_details/#keynote_6_1" target="_blank">Sunita Sarawagi, IIT Bombay, India</a></h2></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>11:00 AM &ndash; 11:30 AM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9 "><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>11:30 AM &ndash; 12:10 PM</h3></td>
    <td style="background-color:#F9F5A5">
      <h2>Research Invited Talk #3</h2>
      <h2  style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/researchinvitedTalks/#researchinvited_3"> Dr. Ranjita Bhagwan (Microsoft)</a></h2></td>
    <td rowspan="2" style="background-color:#B3F4BC"><br><br><h2>Doctoral Symposium</h2><h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>12:10 AM &ndash; 01:00 PM</h3></td>
    <td style="background-color:#FAD8B5">
      <h2>Paper Session T2-1</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/technicalProgram#T2-1">Theme: Probabilistic Learning Systems</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>01:00 PM &ndash; 02:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9"><h2 style="font-size:18px">Lunch Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>02:00 PM &ndash; 02:40 PM</h3></td>
    <td style="background-color:#F9F5A5">
      <h2>Research Invited Talk #4</h2>
      <h2  style="font-size:20px">Topic: Algorithms and associated tools for on-device learning on tiny micro-controllers</h2>
      <h2  style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/researchinvitedTalks/#researchinvited_2"> Dr. Danilo PAU (ST Microelectronics)</a></h2></td>
    <td rowspan="3" style="background-color:#B3F4BC"><br><br><br><br><br><h2>Doctoral Symposium</h2><h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>02:40 PM &ndash; 03:30 PM</h3></td>
    <td style="background-color:#FAD8B5">
      <h2>Paper Session T2-2</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/technicalProgram#T2-2">Theme: Real-time ML Systems</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>03:35 PM &ndash; 04:15 PM</h3></td>
    <td style="background-color:#F9F5A5">
      <h2>Research Invited Talk #5 </h2>
      <h2  style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/researchinvitedTalks/#researchinvited_4"> Rajalakshmi P (IIT Hyderabad, India)</a></h2></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>04:30 PM &ndash; 05:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9"><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>05:00 PM &ndash; 06:00 PM</h3></td>
    <td colspan="2" style="background-color:#A9B0FC">
      <h2>Keynote Talk #4: Scaling Natural Language Processing for the Next Billion Users</h2>
      <h2 style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/keynote_details/#keynote_5_1" target="_blank">Partha Pratim Talukdar, IISc Bangalore &amp; Google Research, India</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"></td>
    <td colspan="2" style="background-color:#E9E9E9"><h2 style="font-size:18px">Networking Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>06:30 PM &ndash; 07:30 PM</h3></td>
    <td colspan="2" style="background-color:#A9B0FC">
      <h2>Keynote Talk #5: Do Simpler Machine Learning Models Exist and How Can We Find Them?</h2>
      <h2 style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/keynote_details/#keynote_2_1" target="_blank"> Cynthia Rudin, Duke University, USA</a></h2> 
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>07:40 PM &ndash; 08:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9"><h1 style="color: #193EA9 ;">AIMLSystems’22 Award Ceremony &amp; Banquet</h1><h2><i>Best Papers; Best Posters; Best Demos</i></h2></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>08:00 PM &ndash; 11:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9;"><h1 style="color: #193EA9 ;">Conference Banquet</h1> 
      <h2 style="color: #193EA9 ;"><i>COCKTAILS and DINNER</i></h2>
      <h3 style="color: #6E0212 ;">Pool Side &amp; INDIAN AFFAIRS, Chancery Pavilion Hotel, Bangalore</h3></td>
  </tr>
</tbody>
</table> 
</div>
