<div id="20221013" class="tabcontent">
  <h1 class="text-center sc-header sc-color-3 text-underline">Day 1, Main Conference</h1>
  <h1 class="text-center sc-header sc-color-3 text-underline">Thursday, 13 October 2022</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
  
<table class="conf-schedule" style= "table-layout: fixed; width:100%">
<tbody>
  <tr>
    <td style="background-color:#FFFFFF"></td>
    <td colspan="2" style="background-color:#FFFFFF"><h1>Thursday, 13 October 2022</h1></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>9:30 AM – 10:00 AM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9;"><h1 style="color: #193EA9 ;"><i>AIMLSystems 2022 Inauguration and Opening Remarks</i></h1>
    <h2 style="font-size:20px">General Co-Chairs<br>TPC Co-Chairs<br>Steering Committee Co-Chairs</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>10:00 AM – 11:00 AM</h3></td>
    <td colspan="2" style="background-color:#A9B0FC">
      <h2>Keynote Talk #1: How can you trust machine learning?</h2>
      <h2 style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/keynote_details">Carlos Guestrin, Stanford University, USA</a></h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>11:00 AM – 11:30 AM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9 "><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>11:30 AM - 12:10 PM</h3></td>
    <td style="background-color:#F9F5A5"><h2>Invited Talk #1: Artificial Intelligence and Machine Learning for Environmental Applications</h2>
      <h2  style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/researchinvitedTalks">Prof. Supratik Mukhopadhyay, Louisiana State University</a></h2></td>
    <td rowspan="2" style="background-color:#8FFCFA"><br><br><br><h2>Demos and Exhibits</h2>
      <h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>12:10 PM - 01:00 PM</h3></td>
    <td style="background-color:#FAD8B5"><h2>Paper Session(D2S2) T1-1</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/technicalProgram#T1-1"> Theme: Network Pruning</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>01:00 PM – 02:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9 "><h2 style="font-size:18px">Lunch Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>02:00 PM - 02:40 PM</h3></td>
    <td style="background-color:#F9F5A5"><h2>Invited Talk #2: AI for Social Impact</h2> 
    <h2  style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/researchinvitedTalks">Speaker: Dr. Alpan Raval, Wadhwani AI</a></h2></td>
    <td rowspan="3" style="background-color:#8FFCFA"><br><br><br><h2>Demos and Exhibits</h2>
      <h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>02:40 PM - 03:55 PM</h3></td>
    <td style="background-color:#FAD8B5"><h2>Paper Session(D2S3) T1-2</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/technicalProgram#T1-2"> Theme: Novel ML Applications</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>04:00 PM - 04:30 PM</h3></td>
    <td style="background-color:#FEE2E2"><h2>Poster Spotlight Session</h2></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>04:30 PM - 05:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9 "><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>05:00 PM - 06:30 PM</h3></td>
    <td colspan="2" style="background-color:#B5D7FA">
      <h2>Panel Discussion</h2> 
      <h2 style="font-size:22px"><a href="{{ site.baseurl }}/panel"> Topic:Low Energy AI</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>06:30 PM - 07:30 PM</h3></td>
    <td colspan="2" style="background-color:#A9B0FC">
      <h2>Keynote Talk #2: The PDE Prior for Deep Learning</h2>
      <h2 style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/keynote_details"> Max Welling, University of Amsterdam &amp; Microsoft Research, Netherlands</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>07:30 PM – 10:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9;"><h1 style="color: #193EA9 ;">AIMLSystems’22 WELCOME RECEPTION</h1> 
    <h3 style="color: #6E0212 ;">Pool Side, Chancery Pavilion Hotel, Residency Road, Bangalore</h3></td>
  </tr>
</tbody>
</table>  
</div>
