<!-- Tab content -->
<div id="20211021" class="tabcontent">
    <h1 class="text-center sc-header sc-color-3 text-underline">Thursday, 21 October 2021</h1>
    <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
  
    <table class="conf-schedule">
      <tbody>
        <tr>
          <td class="text-em sc-color-1 sc-bgcolor-1">
            <h1>
              AIMLSystems 2021 Inauguration and Opening Remarks
              <br />
              (9:30 AM &ndash; 10:00 AM)
              <br />
              General Co-Chairs
              <br />
              TPC Co-Chairs
              <br />
              Steering Committee Co-Chairs
            </h1>
            <h1>
              <span style="text-decoration: underline;">
                Keynote Talk # 1
              </span>
              <br />
              Geoff Webb
              <br />
              Monash University, Australia
              <br />10:00 AM &ndash; 11:00 AM
            </h1>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <h1>Paper Sessions (11:30 AM &ndash; 1:00 PM)</h1>
            <h1><a href="{{ site.baseurl }}/technicalProgram#T1-1" >Session T1-1: Efficiency</a> </h1>
          </td>
        </tr>
        <tr>
          <td>
            <h1>Lunch Break (1:00 PM &ndash; 2:00 PM)</h1>
          </td>
        </tr>
        <tr>
          <td>
            <h1>Paper Sessions (2:00 PM &ndash; 3:30 PM)<br />
            <a href="{{ site.baseurl }}/technicalProgram#T1-2-1" >Session T1-2-1: Socio-Economic Applications + demo</a></h1>
          </td>
        </tr>
        <tr>
          <td>
            <h1>Break (3:30 PM &ndash; 3:45 PM)</h1>
          </td>
        </tr>
        <tr>
          <td>
            <h1>Paper Sessions (3:45 PM &ndash; 4:30 PM)<br />
            <a href="{{ site.baseurl }}/technicalProgram#T1-2-2" >Session T1-2-2: ML and Security</a></h1>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="sc-bgcolor-1">
            <h1>
              <span class="sc-color-2">
                Panel Discussion I (5:00 PM &ndash; 6:30 PM)
                <br />
                <a href="{{ site.baseurl }}/panel#panel-1">Title: Making Algorithmic Decision Systems Unbiased</a>
              </span>
              <br />
              Moderator: Prof. Y. Narahari, IISc Bangalore, India
              <br />
              Panelists: Ricardo Baeza-Yates (Chile), Fosca Gionetti (Pisa), Ashish Goel (Stanford), Krishna Gummadi (Max Planck), Himabindu Lakkaraju (Harvard), Fernando Pareira (Google)
            </h1>
          </td>
        </tr>
        <tr>
          <td class="sc-bgcolor-odd">
            <h1>
              <span class="sc-color-3">
                Industry Insights Keynote # 1
                <br />
                Anand Deshpande, Persistent Systems, India
                <br />
                6:30 PM &ndash; 7:15 PM
              </span>
            </h1>
            <h1>
              <span class="sc-color-3">
                Keynote Talk # 2
                <br />
                Juliana Freire
                <br />
                NYU Tandon School of Engineering, USA
                <br />
                7:15 PM &ndash; 8:15 PM
              </span>
            </h1>
          </td>
        </tr>
        <tr>
          <td class="sc-bgcolor-even">
            <h1>
              <span class="sc-color-3">AIMLSystems Welcome Reception</span>
              <br />
              Venue: Alchemy, Chancery Pavilion Hotel
              <br />
              8:00 PM &ndash; 10:00 PM
            </h1>
          </td>
        </tr>
      </tbody>
    </table>
</div>
