
<div id="20221015" class="tabcontent">
   <h1 class="text-center sc-header sc-color-3 text-underline">Day 3 Main Conference</h1>
  <h1 class="text-center sc-header sc-color-3 text-underline">Saturday, 15 October 2022</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
 <!--  <h1 class="text-center sc-header sc-color-3">To be updated</h1> -->
  <!--<h1 class="text-center sc-header sc-color-1">All tutorials will be held in virtual mode</h1>-->
  
<table class="conf-schedule" style= "table-layout: fixed; width:100%">
<tbody>
  <tr>
    <td style="background-color:#FFFFFF; padding-top: 30px; padding-bottom: 30px;"></td>
    <td colspan="2" style= "background-color:#FFFFFF"><h1>Saturday, 15 October 2022</h1></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>10:00 AM &ndash; 11:00 AM</h3><br></td>
    <td colspan="2" style="background-color:#A9B0FC">
      <h2>Keynote Talk #6: Edge Computing in Alexa</h2>
      <!-- <a href="#nikkostrom">Nikko Strom</a> -->
      <h2 style="font-size:20px">Speaker: <a href="{{ site.baseurl }}/keynote_details">Nikko Strom, Amazon, USA</a></h2>
    </td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>11:00 AM &ndash; 11:30 AM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9"><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>11:30 AM &ndash; 12:10 PM</h3></td>
    <td colspan="2" style="background-color:#F9F5A5"><h2> Invited Talk #1: </h2>
      <h2  style="font-size:20px">Speakers: <a href="{{ site.baseurl }}/industryInvitedTalks"> Ramesh Nallapati(Amazon) and Parminder Bhatia(Amazon)</a></h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>12:10 AM &ndash; 01:00 PM</h3></td>
    <td colspan="2" style="background-color:#FAD8B5">
      <h2> Paper Session T3-1</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/technicalProgram#T3-1">Theme: Hardware Systems for AI</a></h2>
      <h2 style="font-size:20px">Session Chair: Atul Batra</h2>
      <h3 style="color: #6E0212">Venue: Indian Affairs</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>01:00 PM &ndash; 02:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9"><h2 style="font-size:18px">Lunch Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>02:00 PM &ndash; 02:40 PM</h3></td>
    <td colspan="2" style="background-color: #F9F5A5"><h2>Invited Talk #2: Riding the Flywheel of Recommender Systems</h2> 
    <h2 style="font-size:20px">Speaker:<a href="{{ site.baseurl }}/industryInvitedTalks"> Debdoot Mukherjee (Meesho)</a></h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>02:40 PM &ndash; 04:30 PM</h3></td>
    <td colspan="2" style="background-color:#FAD8B5">
      <h2> Paper Session T3-2</h2>
      <h2 style="font-size:20px"><a href="{{ site.baseurl }}/technicalProgram#T3-2">Theme: Software Systems for AI</a></h2>
      <h2 style="font-size:20px">Session Chair: Milind Gandhe</h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"><h3>04:30 PM &ndash; 05:00 PM</h3></td>
    <td colspan="2" style="background-color:#E9E9E9"><h2 style="font-size:18px">Tea/Coffee Break</h2></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>05:00 PM &ndash; 06:30 PM</h3></td>
    <td colspan="2" style="background-color:#B5D7FA">
      <h2>Panel Discussion</h2>
      <h2 style="font-size:22px"><a href="{{ site.baseurl }}/panel"> Topic: Responsible AI</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF"><h3>6:30 PM &ndash; 7:30 PM</h3></td>
    <td colspan="2" style="background-color:#A9B0FC">
      <h2>Keynote Talk #7: Beyond Engagement: Optimizing the Long-Term Sustainability of Online Platforms</h2>
      <h2 style="font-size:22px">Speaker: <a href="{{ site.baseurl }}/keynote_details">Thorsten Joachims, Cornell University, USA</a></h2>
      <h3 style="color: #6E0212">Venue: Sigma Hall</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9"></td>
    <td colspan="2" style="background-color:#E9E9E9"><h2>AIMLSYSTEMS CONFERENCE CLOSURE</h2></td>
  </tr>
</tbody>
</table>
  
</div>
