<div id="20221013" class="tabcontent">
  <h1 class="text-center sc-header sc-color-3 text-underline">Day 1, Main Conference</h1>
  <h1 class="text-center sc-header sc-color-3 text-underline">Thursday, 13 October 2022</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
  
  <table class="conf-schedule">
  <tbody>
    <tr>
    <td colspan="8" style="background-color:#80A3F1" class="sc-bgcolor-even">
      <i><h1 style="color: #6C0BA5;"><span class="sc-color-3"></span>AIMLSystems 2022 Inauguration and Opening Remarks<br/>(9:30 AM – 10:00 AM)<br/>General Co-Chairs<br/>TPC Co-Chairs<br/>Steering Committee Co-Chairs</h1><br/>
      <h2 style="color: #6C0BA5;" >Keynote Talk # 1<br/>Carlos Guestrin, Stanford University, USA<br/>
        10:00 AM – 11:00 AM </h2></i>
    </td>
  </tr> 
  <tr>
     <td colspan="8" style="background-color:#FFFFFF"><h1>Tea/Coffee Break<br/>11:00 AM &ndash; 11:30 AM</h1></td>
  </tr>
  <tr>
     <td colspan="8" style="background-color:#FFFFFF"><h1>Paper Sessions<br/>11:30 AM &ndash; 1:00 PM</h1></td>
  </tr>
  <tr>
    <td colspan="5" style="background-color:#dae8fc"><h1>Paper Session T1-1<br>D2S2: (T1-1) Network Pruning<br>Venue: SIGMA Hall</h1></td>
    <td rowspan="3" style="background-color:#ffcb2f" rowspan="3"><br><br><br><h1>Demos and Exhibits<br>Venue: INDIAN AFFAIRS</h1></td>
  </tr>
   <tr>
    <td style="background-color:#dae8fc" rowspan="2"><h1>Invited Talk #1</h1><h3>Prof. Supratik Mukhopadhyay<br>Louisiana State University<br>11:30 AM - 12:10 PM</h3></td>
    <td style="background-color:#dae8fc" colspan="4"><h1>Oral Paper Sessions</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc" colspan="2"><h3>Paper ID: 53 <br>12:10 PM - 12:35 PM</h3></td>
    <td style="background-color:#dae8fc" colspan="2"><h3>Paper ID: 70 <br>12:35 PM - 01:00 PM</h3></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9" colspan="8"><h1>Lunch Break <br/>1:00 PM &ndash; 2:00 PM</h1></td>
  </tr>
  <tr>
     <td colspan="8" style="background-color:#FFFFFF"><h1>Paper Sessions<br/>2:00 PM &ndash; 4:30 PM</h1></td>
  </tr>
  <tr>
    <td colspan="5" style="background-color:#dae8fc"><h1>Paper Session T1-2<br>D2S3: (T1-2) Novel ML Applications<br>Venue: SIGMA Hall</h1></td>
    <td colspan="3" style="background-color:#ffcb2f" rowspan="3"><br><br><br><h1>Demos and Exhibits<br>Venue: INDIAN AFFAIRS</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc" rowspan="2"><h1>Invited Talk #2</h1><h3>Dr. Alpan Raval<br>Wadhwani AI<br>2:00 PM - 2:40 PM</h3></td>
    <td style="background-color:#dae8fc" colspan="4"><h1>Oral Paper Sessions</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc"><h4>Paper ID: 18<br>2:40 PM - 3:05 PM</h4></td>
    <td style="background-color:#dae8fc"><h4>Paper ID: 45<br>3:05 PM - 3:30 PM</h4></td>
    <td style="background-color:#dae8fc"><h4>Paper ID: 31<br>3:30 PM - 3:55 PM</h4></td>
    <td style="background-color:#dae8fc"><h4>Poster Spotlight Session<br>4:00 PM - 4:30 PM<br></h4></td>
  </tr>
  <tr>
     <td colspan="8" style="background-color:#FFFFFF"><h1>Tea/Coffee Break<br/>4:30 PM &ndash; 5:00 PM</h1></td>
  </tr>
  <tr>
    <td colspan="8" style="background-color:#80A3F1" class="sc-bgcolor-even">
      <h1 style="color:#08127B"><span class="sc-color-3">Panel Discussion</span><br/>5:00 PM – 6:30 PM</h1><h1>Topic: Low Energy AI<br/>SIGMA HALL</h1>
    </td>
  </tr>
   <tr>
    <td style="background-color:#E9E9E9;" colspan="8"><h1 style="color:#08127B">Keynote Talk # 2<br/>Max Welling, University of Amsterdam & Microsoft Research, Netherlands</h1>
    <h1 style="color:#08127B">6:30 PM – 7:30 PM <br/>SIGMA HALL</h1></td>
  </tr> 
   <tr>
    <td style="background-color:#E9E9E9;" colspan="8"><h1>AIMLSystems’22 WELCOME RECEPTION<br/>
    Pool Side, Chancery Pavilion Hotel, Residency Road, Bangalore<br/>7:30 PM – 10:00 PM</h1>
</td>
  </tr> 
</tbody>
</table>
 
  
</div>
