<!-- Tab content -->
<div id="20221012" class="tabcontent">
    <h1 class="text-center sc-header sc-color-3 text-underline">Wednesday, 12 October 2022</h1>
    <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>
<!-- 	<h1 class="text-center sc-header sc-color-3">To be updated</h1> -->
   
<table class="conf-schedule">
<tbody>
  <tr>
     <td colspan="3" style="background-color:#FFFFFF"><h1>CONFERENCE TUTORIALS<br>10:00 AM - 1.30 AM</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc" ><h1>Tutorial #1<br>Venue: SIGMA 1</h1></td>
    <td style="background-color:#ffccc9"><h1>Tutorial #2<br>Venue: SIGMA 3</h1></td>
    <td style="background-color:#ffcb2f"><h1>Tutorial #3<br>Venue: INDIAN AFFAIRS</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc" colspan="3"><h1>Tea/Coffee Break<br/>11:30 AM &ndash; 12:00 Noon</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc" ><h1>Tutorial #1<br>Venue: SIGMA 1</h1></td>
    <td style="background-color:#ffccc9"><h1>Tutorial #2<br>Venue: SIGMA 3</h1></td>
    <td style="background-color:#ffcb2f"><h1>Tutorial #3<br>Venue: INDIAN AFFAIRS</h1></td>
  </tr>
  <tr>
    <td style="background-color:#E9E9E9" colspan="3"><h1>Lunch Break <br/>1:30 PM &ndash; 2:30 PM</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc" ><h1>Tutorial #4<br>Venue: SIGMA 1</h1></td>
    <td style="background-color:#ffccc9"><h1>Tutorial #5<br>Venue: SIGMA 3</h1></td>
    <td style="background-color:#ffcb2f"><h1>Tutorial #6<br>Venue: INDIAN AFFAIRS</h1></td>
  </tr>
  <tr>
    <td style="background-color:#dae8fc" colspan="3"><h1>Tea/Coffee Break<br/>4:00 PM &ndash; 4:30 PM</h1></td>
  </tr>
   <tr>
    <td style="background-color:#dae8fc" ><h1>Tutorial #4<br>Venue: SIGMA 1</h1></td>
    <td style="background-color:#ffccc9"><h1>Tutorial #5<br>Venue: SIGMA 3</h1></td>
    <td style="background-color:#ffcb2f"><h1>Tutorial #6<br>Venue: INDIAN AFFAIRS</h1></td>
  </tr>
  <tr>
    <td colspan="3" style="background-color:#80A3F1" class="sc-bgcolor-even">
      <h1><span class="sc-color-3">AIMLSystems 2022 All Hands Meeting</span><br />6:00 PM &ndash; 8:00 PM IST, Wednesday, 12 October 2022</h1>
        <h3>Participants: All Organizing Committee Members, All Volunteers, All Sponsors, Event Managers, Hotel Staff
      </h3>
    </td>
  </tr> 
</tbody>
</table>

	
</div>
